<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar"></div>
	<header class="bg-primary text-white">
		<div class="container text-center">
			<h1>Welcome to Eproduct Shop</h1>
		</div>
	</header>

	<section id="about"  sec:authorize="isAnonymous()">
		<div class="container">
			<div class="row">
			<div class="text-center" style="background-color: #2d2d2d;">
			<h1 style="color: white; font-size: 40px;">About Us</h1>
			</div>
				<div class="col-lg-8 mx-auto">
					<ul>
						<li>
							<h2 style="font-weight: bold;">About Eproduct Shop</h2>
							<p>Eproduct Shop has been founded in 21 december 2019. From
								then to now Eproduct Shop has won the heart of many people and
								now is a country wide known Brand. This has been possible
								because of the hard work Star Tech has done to satisfy their
								customers. Having the aim to satisfy customers, providing
								customers with their required products and being true to their
								moto, “Customers Come First”, has brought Eproduct Shop to the
								top of the E-Commerce Site and also is one of the largest
								electronicretailer.</p>
						</li>

						<li>
							<h2 style="font-weight: bold;">The Main Goal and Aim</h2>
							<p>We are Eproduct Shop and we are here to help you with all
								your electronic needs. We aim to provide all the requirements of
								our customers and help them satisfy their needs, wants and
								desires. We delight in seeing our customers happy and satisfied
								with our resiliency in providing them with their products. Our
								complete focus is on the customers. We keep tabs and records on
								what our customers want, and we try our level best to bring that
								for them. We are already providing our customers with the
								delivery system so that they can order online and receive their
								products from their area. They do not have to travel long
								distances to get their desired product.</p> Responsive behavior when

						</li>
						<li>
							<h2 style="font-weight: bold;">Services Being Provided</h2>
							<p>We are a Eproduct Shop product seller. We are providing
								our customers with the best quality products in the most
								reasonable price. We have varieties of products that our
								customers can choose from. The product range starts from RAM,
								MotherBoard Security Camera, Television and many other products.
								Each of our products are checked and reviewed before it is sold
								to You our Loyal Customers. YOU are our driving force to better
								ourselves in all the aspect of the service providing sector. We
								strive to become a Perfectionist Company that delivers
								everything, word for word.</p>
						</li>
						<li>
							<h2 style="font-weight: bold;">Customer Satisfaction</h2>
							<p>We have been in the market for a long time and we have
								come to know what the customers want and desire. We have made
								chances around our customers so that we will be able to fulfill
								the desires of each of our customers. We want to improve more
								and more to be able to give everyone their desired or dreamed
								products. We are providing online buying opportunities for our
								customers, providing delivery service for all of our products
								all over Bangladesh. We provide the best after sells customer
								service to our customers to make them feel that we do care about
								their possession and provide them with the best solutions for
								their problems.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>



</body>
</html>