
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<div th:replace="common/header :: navbar"></div>
	<h5 class="text-center">Administration 
		Eproduct</h5>
	<hr />
	<div style="margin-left: 42%;">
	<img th:src="@{/image/images.jpeg}" class="img-responsive" 
		style="width: 250px;">
    </div>
	<div class="row">
		<div class="col-xs-4 col-md-offset-4">
	
			<form th:action="@{/login}" method="post" class="form-signin">
			<div th:if="${param.error != null}" style="color:red;">Incorrect username or password.</div>
				<h2 class="form-signin-heading">please sign in</h2>
				<div class="form-group">
					<label for="username" class="src-only">Username</label> <input
						type="text" class="form-control" placeholder="Username"
						name="username" id="username" required="required"
						autofocus="autofocus" />
				</div>

				<div class="form-group">
					<label for="password" class="src-only">Password</label> <input
						type="password" class="form-control" placeholder="password"
						name="password" id="password" required="required" />
				</div>

				<button class="btn btn-lg btn-primary btn-block">Sign In</button>

			</form>
		</div>

	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>